.movies-list {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 34px;
}

.no-result {
    color: #ff6600;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
}

@media(max-width: 420px) {
    .movies-list {
        padding-top: 10px;
    }
    .no-result {
        padding-top: 16px;
    }
}
