.search-line {
    outline:none;
    box-sizing: border-box;
    height: 40px;
    width: calc(100% - 8px);
    padding: 9px 12px;
    margin: 20px 4px 0;
    font-size: 18px;
    line-height: 1.4em;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search-line:focus {
    border-color: rgba(24, 144, 255, 0.70);
    border-width: 2px;
    padding: 8px 11px;
}

input::-webkit-input-placeholder {
    font-family: Inter;
    font-size: 16px;
    line-height:  1.4em;
    color: rgba(0, 0, 0, 0.25);
}

@media(max-width: 420px) {
    .search-line {
        margin-top: 5px;
    }
}